<!DOCTYPE html>
<html>
<head>
    <title>BackBlog</title>
</head>
<body>
<div id="main">
</div>
<script src="/jquery.js"></script>
<script src="/underscore.js"></script>
<script src="/backbone.js"></script>
<script src="/app.js"></script>
<script>
    var posts = new Posts(<%- posts %>);
    $('#main').append(new PostsListView({
        collection: posts
    }).render().el);
</script>
</body>
</html>