<!DOCTYPE html>
<html>
<head>
    <title>BackBlog</title>
</head>
<body>
<div id="main">
</div>
<script src="/jquery.js"></script>
<script src="/underscore.js"></script>
<script src="/backbone.js"></script>
<script src="/app.js"></script>
<script>
    var postRouter = new PostRouter({
        posts: new Posts(<%- posts %>),
        main: $('#main')
    });
    Backbone.history.start({
        pushState: true
    });
</script>
<script id="postView" type="text/x-underscore-template">
    <a href="/">All posts</a>
    <h1>{{title}}</h1>
    <p>{{pubDate}}</p>
    {{content}}
</script>
</body>
</html>