<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>My First AngularJS app</title>
</head>
<body ng-init="salary=1000;percentage=10;">
<label for="txt-salary">Your Salary?</label>
<input id="txt-salary" type="text" ng-model="salary"/> $
<br/>
<label for="txt-percentage">How much should you invest in gadgets?</label>
<input id="txt-percentage" type="text" ng-model="percentage"/> %
<br/>
<p>The amout to be spent in shopping will be:</p>
<span>{{ salary * percentage * 0.01 }} $</span>
<script src="lib/angular/angular.min.js"></script>
</body>
</html>